<style>
	body {
	    background-image: url("/images/background.jpg");
	}
</style>

<div id="countdown" class="centered">
	<h1 class="countTitle">
		NEW YEARS 2017
	</h1>

	<table>
		<tr class="timeFont">
			<th>DAYS</th>
			<th></th>
			<th>HOURS</th>
			<th></th>
			<th>MINUTES</th>
			<th></th>
			<th>SECONDS</th>
		</tr>
		<tr>
			<td>
				<span id="dayDigit1" class="number"></span>
				<span id="dayDigit2" class="number"></span>
				<span id="dayDigit3" class="number"></span>
			</td>
			<td>&nbsp;&nbsp;</td>
			<td>
				<span id="hourDigit1" class="number"></span>
				<span id="hourDigit2" class="number"></span>
			</td>
			<td>
				<span class="colon">:</span>
			</td>
			<td>
				<span id="minuteDigit1" class="number"></span>
				<span id="minuteDigit2" class="number"></span>
			</td>
			<td>
				<span class="colon">:</span>
			</td>
			<td id="seconds">
				<span id="secondDigit1" class="number"></span>
				<span id="secondDigit2" class="number"></span>
			</td>
		</tr>
	</table>
</div>