<header>
    <div class="container">
        <div class="row"> 
            <div class="col-md-6" > 
                <img src="/images/johnnie.png" alt="8-bit image of Johnnie Lo" class="headshot" > 
            </div>
            <div class="col-md-6 intro-text"> 
                <span class="name">Hello, I'm Johnnie</span> 
                <hr class="seperator-light"> 
                <span class="skills">Java - Ruby on Rails - JavaScript</span><br>
                <span class="skills">Node.js - Sails.js - Git - PostgreSQL</span>
            </div>  
        </div>
    </div> 
</header> 

<section id="about"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="title">About Me</span> 
                <hr class="seperator-primary"> 
                <span class="content">
                    I am recent graduate with a degree in Computer Science from San Francisco State University.
                    My experience consist of a software engineer internship as well as learning the latest web 
                    technologies in my spare time. As of now, I am looking for full time employment in software 
                    development. 
                </span>
            </div> 
            <div class="col-md-6 row-bottom">
                <span class="title">Experience</span>
                <hr class="seperator-primary"> 
                <span class="content">
                    In the summer of 2013, I had an internship at Oration Inc. The engineering team praticed agile
                    development that consisited of daily scrums, weekly sprints, and code reviews. We also used Git 
                    for version control. I gained experience working in a start-up environment with short release 
                    cycles.
                </span>
            </div>
        </div> 
    </div> 
</section> 

<section class="primary" id="projects"> 
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12"> 
                <span class="title">Projects</span> 
                <hr class="seperator-light"> 
                <span class="subtitle"><a href="http://jaunts.herokuapp.com/">Jaunts</a><br></span>
                <span class="content">
                    During the summer of 2014, I built a web application using Ruby on Rails. The app lets people
                    create itineraries for jaunts around their city. The idea is that the locals know the best spots.
                    This is done using Yelp’s API to search for businesses and Facebook's Graph API for user login.
                    Through this experience, I learned how to organize and prioritize task in order to produce a
                    product within a time frame. I designed the project and saw it through from the start to 
                    deployment. 
                </span>
            </div> 
        </div>
        <div class="row content-bottom">
            <div class="col-md-12"> 
                <span class="subtitle"><a href="http://weathernow.herokuapp.com/">Weather Now</a><br></span> 
                <span class="content">
                    The Weather Now web app displays information about the weather based on the users Zip Code/Postal 
                    Code. It was built using Sails.js and uses Yahoo Query Language to get information about the weather. It is a single page application and it uses jQuery library to make AJAX calls. 
                </span> 
            </div> 
        </div> 
    </div> 
</section> 

<section id="contact"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-4 col-md-offset-4">
                <span class="title">Contact</span> 
                <hr class="seperator-primary"> 
                <span class="content">
                    Email - johnnielo50@gmail.com <br> 
                    Phone - 510-593-3997
                </span> 
            </div>
        </div> 
    </div> 
</section> 

<footer class="text-center"> 
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-6">
                    <h3>Location</h3> 
                    <p>Fremont, CA 94555</p> 
                </div> 
                <div class="footer-col col-md-6">
                    <h3>Links</h3> 
                    <ul class="list-inline">
                        <li><a href="https://github.com/jolo510">Github</a></li> 
                        <li><a href="https://www.linkedin.com/pub/johnnie-lo/78/6b9/b17">Linkedin</a></li> 
                        <li><a href="https://docs.google.com/document/d/1XyGJOCjRGq32-eSphnxTFaXadPVsMe3ngsM7BoVGBPU/edit#" target="_blank">Resume</a></li> 
                    </ul>
                </div> 
            </div>
        </div>
    </div> 
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    Copyright &copy; Johnnie Lo 2015
                </div>  
            </div> 
        </div>
    </div> 
</footer> 

<!-- <a href="https://docs.google.com/document/d/1XyGJOCjRGq32-eSphnxTFaXadPVsMe3ngsM7BoVGBPU/export?format=pdf" target="_black">Resume Download Link</a> -->